* {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 14px;
    text-align: center;
}

html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

h1 {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 0;
}

h2 {
    font-size: 1.2em;
    font-weight: 300;
    margin-bottom: 0;
}

h3 {
    font-size: 1em;
    font-weight: 600;
    margin: 0;
}

a {
    color: #CA3C25;
}

#app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffecc2;
}

#header-container {
    margin: 2vh;
}

.settings-container {
    background-color: #fff8e9;
    display: flex;
    width: 100%;
    padding: 0.25em;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.setting{
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin: 1em 2em;
}

.setting-item-container {
    display: flex;
    margin-top: 1em;
    flex-direction: row;
}

.setting-item {
    color: lightgray;
    margin: 0 0.75em;
}

.setting-item.active {
    color: #CA3C25;
}

/* Source: https://www.w3schools.com/howto/howto_js_rangeslider.asp */
.slider {
    appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #CA3C25;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #CA3C25;
    cursor: pointer;
  }


#canvas {
    aspect-ratio: 16 / 9;
    height: 60vh;

    overflow: scroll;
    background-color: white;
}
